<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Chat App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Chat App Made By Student" name="description" />
        
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- glightbox css -->
        <link rel="stylesheet" href="assets/libs/glightbox/css/glightbox.min.css">
        <!-- swiper css -->
        <link rel="stylesheet" href="assets/libs/swiper/swiper-bundle.min.css">
        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <link href="./assets/css/toastr.min.css" rel="stylesheet" />
        <!-- Custom css -->
        <link href="assets/css/custom.css" rel="stylesheet"/>

    </head>

    <body>

        <div class="layout-wrapper d-lg-flex">

            <!-- Start left sidebar-menu -->
            <div class="side-menu flex-lg-column">
                <!-- Start side-menu nav -->
                <div class="flex-lg-column my-0 sidemenu-navigation">
                    <ul class="nav nav-pills side-menu-nav" role="tablist">
                        <li class="nav-item d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-container=".sidemenu-navigation" title="Trang cá nhân">
                            <a class="nav-link" id="pills-user-tab" data-bs-toggle="pill" href="#pills-user" role="tab" onclick="CloseChat()">
                                <i class='bx bx-user-circle'></i>
                            </a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-container=".sidemenu-navigation" title="Tin nhắn">
                            <a class="nav-link active" id="pills-chat-tab" data-bs-toggle="pill" href="#pills-chat" role="tab" onclick="CloseChat()">
                                <i class='bx bx-conversation'></i>
                            </a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-container=".sidemenu-navigation" title="Người dùng">
                            <a class="nav-link" id="pills-contacts-tab" data-bs-toggle="pill" href="#pills-contacts" role="tab" onclick="CloseChat()">
                                <i class='bx bxs-user-detail'></i>
                            </a>
                        </li>
                        <li class="nav-item hidden" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-container=".sidemenu-navigation" title="Cuộc gọi" onclick="callClickEvent(this)"> 
                            <a class="nav-link" id="pills-calls-tab" data-bs-toggle="pill" href="#pills-calls" role="tab" onclick="CloseChat()">
                                <i class='bx bx-phone-call'></i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-container=".sidemenu-navigation" data-bs-trigger="hover" title="Cài đặt">
                            <a class="nav-link" id="pills-setting-tab" data-bs-toggle="pill" href="#pills-setting" role="tab" onclick="CloseChat()">
                                <i class='bx bx-cog'></i>
                            </a>
                        </li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link light-dark" href="#" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" data-bs-container=".sidemenu-navigation" data-bs-html="true" title="<span class='light-mode'>Light</span> <span class='dark-mode'>Dark</span> Mode">
                                <i class='bx bx-moon'></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown profile-user-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/users/user-dummy-img.jpg" alt="" class="profile-user rounded-circle user-profile-image">
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item d-flex align-items-center justify-content-between" id="pills-user-tab" data-bs-toggle="pill" href="#pills-user" role="tab">Hồ sơ <i class="bx bx-user-circle text-muted ms-1"></i></a>
                                <a class="dropdown-item d-flex align-items-center justify-content-between" id="pills-setting-tab" data-bs-toggle="pill" href="#pills-setting" role="tab">Cài đặt <i class="bx bx-cog text-muted ms-1"></i></a>
                            
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center justify-content-between logout_btn" href="javascript:void(0);">Đăng xuất <i class="bx bx-log-out-circle text-muted ms-1"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end side-menu nav -->
            </div>
            <!-- end left sidebar-menu -->

            <!-- start chat-leftsidebar -->
            <div class="chat-leftsidebar">

                <div class="tab-content">
                    <!-- Start Profile tab-pane -->
                    <div class="tab-pane" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
                        <!-- Start profile content -->
                        <div>
                            <div class="user-profile-img">
                                <img src="assets/images/small/img-4.jpg" class="profile-img profile-foreground-img" style="height: 160px;" alt="">
                                <div class="overlay-content">
                                </div>
                            </div>

                            <div class="text-center p-3 p-lg-4 border-bottom pt-2 pt-lg-2 mt-n5 position-relative">
                                <div class="mb-lg-3 mb-2">
                                    <img src="assets/images/users/user-dummy-img.jpg" class="rounded-circle avatar-lg img-thumbnail user-profile-image" alt="">
                                </div>

                                <h5 class="font-size-16 mb-1 text-truncate user_name"></h5>
                            </div>
                            <!-- End profile user -->

                            <!-- Start user-profile-desc -->
                            <div class="p-4 profile-desc" data-simplebar>
                                <div class="text-muted">
                                    <p class="mb-4 user_status">Chưa cập nhật</p>
                                </div>

                                <div>
                                    <div class="d-flex py-2">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="bx bx-user align-middle text-muted"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0 user_name"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex py-2">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="bx bx-message-rounded-dots align-middle text-muted"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0 user_email"></p>
                                        </div>
                                    </div>
            
                                    <div class="d-flex py-2">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="bx bx-location-plus align-middle text-muted"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0 user_location"></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <hr class="my-4">
                            </div>
                            <!-- end user-profile-desc -->
                        </div>
                        <!-- End profile content -->
                    </div> 
                    <!-- End Profile tab-pane -->

                    <!-- Start chats tab-pane -->
                    <div class="tab-pane show active" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                        <!-- Start chats content -->
                        <div>
                            <div class="px-4 pt-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h4 class="mb-4">Chats</h4>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Thêm danh bạ">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-soft-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addContact-exampleModal">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control bg-light border-0 pe-0" id="serachChatUser" onkeyup="searchUser()" placeholder="Tìm kiếm .." 
                                        aria-label="Example text with button addon" aria-describedby="searchbtn-addon" autocomplete="off">
                                        <button class="btn btn-light" type="button" id="searchbtn-addon"><i class='bx bx-search align-middle'></i></button>
                                    </div>
                                </form>
                            </div> <!-- .p-4 -->

                            <div class="chat-room-list" data-simplebar>

                                <div class="d-flex align-items-center px-4 mt-5 mb-2">
                                    <div class="flex-grow-1">
                                        <h4 class="mb-0 font-size-11 text-muted text-uppercase">Tin nhắn</h4>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Gửi tin nhắn">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-soft-primary btn-sm" data-bs-toggle="modal" data-bs-target=".contactModal">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="chat-message-list">
                                    <ul class="list-unstyled chat-list chat-user-list" id="usersList">
                                        <li id="li-append"></li>
                                    </ul>
                                </div>

                                <!-- End chat-message-list -->
                            </div>

                        </div>
                        <!-- Start chats content -->

                    </div>
                    <!-- End chats tab-pane -->

                    <!-- Start contacts tab-pane -->
                    <div class="tab-pane" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
                        <!-- Start Contact content -->
                        <div>
                            <div class="px-4 pt-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h4 class="mb-4">Thêm danh bạ</h4>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Thêm danh bạ">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-soft-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addContact-exampleModal">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <form>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control bg-light border-0 pe-0" id="searchContact" onkeyup="searchContacts()" placeholder="Tìm kiếm.." aria-label="Search Contacts..." 
                                        aria-describedby="button-searchcontactsaddon" autocomplete="off">
                                        <button class="btn btn-light" type="button" id="button-searchcontactsaddon"><i class='bx bx-search align-middle'></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- end p-4 -->

                            <div class="chat-message-list chat-group-list" data-simplebar >
                                <div class="sort-contact"></div>
                            </div>
                            <!-- end contact lists -->
                        </div>
                        <!-- Start Contact content -->
                    </div>
                    <!-- End contacts tab-pane -->

                    <!-- Start calls tab-pane -->
                    <div class="tab-pane" id="pills-calls" role="tabpanel" aria-labelledby="pills-calls-tab">
                        <!-- Start Contact content -->
                        <div>
                            <div class="px-4 pt-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h4 class="mb-3">Cuộc gọi</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end p-4 -->

                            <!-- Start contact lists -->
                            <div class="chat-message-list chat-call-list" data-simplebar>
                                <ul class="list-unstyled chat-list" id="callList">      
                  
                                </ul>
                            </div>
                            <!-- end contact lists -->
                        </div>
                        <!-- Start Contact content -->
                    </div>
                    <!-- End calls tab-pane -->
                    
                    <!-- Start settings tab-pane -->
                    <div class="tab-pane" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                        <!-- Start Settings content -->
                        <div>
                            <div class="user-profile-img">
                                <img src="assets/images/small/img-4.jpg" class="profile-img profile-foreground-img" style="height: 160px;" alt="">
                                <div class="overlay-content">
                                    <div>
                                        <div class="user-chat-nav p-3">
                    
                                            <div class="d-flex w-100 align-items-center">
                                                <div class="flex-grow-1">
                                                    <h5 class="text-white mb-0">Cài đặt</h5>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Cập nhật ảnh bìa">
                                                        <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input" >
                                                        <label for="profile-foreground-img-file-input" class="profile-photo-edit avatar-xs">
                                                            <span class="avatar-title rounded-circle bg-light text-body">
                                                                <i class="bx bxs-pencil"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center p-3 p-lg-4 border-bottom pt-2 pt-lg-2 mt-n5 position-relative">
                                <div class="mb-3 profile-user">
                                    <img src="assets/images/users/user-dummy-img.jpg" class="rounded-circle avatar-lg img-thumbnail user-profile-image" alt="user-profile-image">
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <input id="profile-img-file-input" type="file" class="profile-img-file-input" >
                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                            <span class="avatar-title rounded-circle bg-light text-body">
                                                <i class="bx bxs-camera"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <h5 class="font-size-16 mb-1 text-truncate"></h5>
                                <div class="dropdown d-inline-block">
                                    <a class="text-muted dropdown-toggle d-block" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bxs-circle text-success font-size-10 align-middle"></i> Online <i class="mdi mdi-chevron-down"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i class="bx bxs-circle text-success font-size-10 me-1 align-middle"></i> Online</a>
                                        <a class="dropdown-item" href="#"><i class="bx bxs-circle text-warning font-size-10 me-1 align-middle"></i> Đang bận</a>
                                        <a class="dropdown-item" href="#"><i class="bx bxs-circle text-danger font-size-10 me-1 align-middle"></i> Không làm phiền</a>
                                    </div>
                                </div>        
                            </div>
                            <!-- End profile user -->

                            <!-- Start User profile description -->
                            <div class="user-setting" data-simplebar>
                                <div id="settingprofile" class="accordion accordion-flush">
                                    <div class="accordion-item">
                                        <div class="accordion-header" id="headerpersonalinfo">
                                            <button class="accordion-button font-size-14 fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#personalinfo" aria-expanded="true" aria-controls="personalinfo">
                                                <i class="bx bxs-user text-muted me-3"></i> Thông tin cá nhân
                                            </button>
                                        </div>
                                        <div id="personalinfo" class="accordion-collapse collapse show" aria-labelledby="headerpersonalinfo" data-bs-parent="#settingprofile">
                                            <div class="accordion-body">
                                                <div class="float-end">
                                                    <button type="button" class="btn btn-soft-primary btn-sm" id="user_name_edit" onclick="edit_userName(this)"><i class="bx bxs-pencil align-middle"></i></button>
                                                </div>
                                                <div>
                                                    <p class="text-muted mb-1">Tên</p>
                                                    <h5 class="font-size-14 user_name" id="user_name"></h5>
                                                    <div id="edit-user-name" class="visually-hidden d-flex justify-content-between">
                                                        <input type="text" name="name" id="userName" value=""
                                                          class="form-control bg-soft-light border-light" maxlength="20"/>
                                                        <div class="float-right">
                                                          <button type="submit" id="receiverSave" onclick="userNameChange(this)"
                                                            class="btn btn-primary btn-block waves-effect waves-light" style="display: block;">
                                                            Lưu</button>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="mt-4">
                                                    <p class="text-muted mb-1">Email</p>
                                                    <h5 class="font-size-14 user_email"></h5>
                                                </div>

                                                <div class="mt-4">
                                                    <p class="text-muted mb-1">Quốc gia</p>
                                                    <h5 class="font-size-14 mb-0 user_location"></h5>
                                                </div>

                                                <div class="float-end">
                                                    <button type="button" class="btn btn-soft-primary btn-sm" id="user_status_edit" onclick="edit_userStatus(this)"><i class="bx bxs-pencil align-middle"></i></button>
                                                </div>
                                                <div class="mt-4">
                                                    <p class="text-muted mb-1">Trạng thái</p>
                                                    <h5 class="font-size-14 mb-0 user_status" id="user_status">Chưa cập nhật</h5>
                                                    <div id="edit-user-status" class="visually-hidden d-flex justify-content-between">
                                                        <input type="text" name="name" id="userStatus" value=""
                                                          class="form-control bg-soft-light border-light"/>
                                                        <div class="float-right">
                                                          <button type="submit" id="receiverSave" onclick="userStatusChange(this)"
                                                            class="btn btn-primary btn-block waves-effect waves-light" style="display: block;">
                                                            Lưu</button>
                                                        </div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end personal info card -->

                                </div>
                                <!-- end profile-setting-accordion -->
                            </div>
                            <!-- End User profile description -->
                        </div>
                        <!-- Start Settings content -->
                    </div>
                    <!-- End settings tab-pane -->
                </div>
                <!-- end tab content -->
            </div>
            <!-- end chat-leftsidebar -->

            <!-- Start User chat -->
            
            <div class="user-chat w-100 overflow-hidden">
                <div class="user-chat-overlay"></div>
                <div class="chat-welcome-section" style="display: flex;">
                    <div class="row w-100 justify-content-center">
                        <div class="col-xxl-5 col-md-7">
                            <div class="p-4 text-center">
                                <div class="avatar-xl mx-auto mb-4">
                                    <div class="avatar-title bg-soft-primary rounded-circle">
                                        <i class="bx bxs-message-alt-detail display-4 text-primary m-0"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end chat-welcome-section -->

                <div class="chat-content d-lg-flex">
                    <!-- start chat conversation section -->
                    <div class="w-100 overflow-hidden position-relative" style="display: none;">
                        <!-- conversation user -->
                        <div id="users-chat" class="position-relative">
                        <div class="p-3 p-lg-4 user-chat-topbar">
                            <div class="row align-items-center">
                                <div class="col-sm-4 col-8">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 d-block d-lg-none me-3">
                                            <a href="javascript: void(0);" class="user-chat-remove font-size-18 p-1"><i class="bx bx-chevron-left align-middle"></i></a>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="d-flex align-items-center">                            
                                                <div class="flex-shrink-0 chat-user-img user-own-img align-self-center me-3 ms-0">
                                                    <img src="assets/images/users/avatar-2.jpg" class="rounded-circle avatar-sm" alt="">
                                                    <span class="user-status"></span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="text-truncate mb-0 font-size-18"><a href="#" class="user-profile-show text-reset contact_name"></a></h6>
                                                    <p class="text-truncate text-muted mb-0 typing_msg"></p>
                                                    <p class="contactId"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-4">
                                    <ul class="list-inline user-chat-nav text-end mb-0">                                        
                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class='bx bx-search'></i>
                                                </button>
                                                <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg">
                                                    <div class="search-box p-2">
                                                        <input type="text" class="form-control" placeholder="Tìm kiếm.." id="searchChatMessage" onkeyup="searchContactsMsg()">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                            <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target=".audiocallModal">
                                                <i class='bx bxs-phone-call' ></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                            <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target=".videocallModal">
                                                <i class='bx bx-video' ></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                            <button type="button" class="btn nav-btn user-profile-show">
                                                <i class='bx bxs-info-circle' ></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class='bx bx-dots-vertical-rounded' ></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none user-profile-show" href="#">Xem hồ sơ <i class="bx bx-user text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none" href="#" data-bs-toggle="modal" data-bs-target=".audiocallModal">Gọi điện <i class="bx bxs-phone-call text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none" href="#" data-bs-toggle="modal" data-bs-target=".videocallModal">Gọi video <i class="bx bx-video text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="javascript:void(0);" onclick="deleteAllMessage(this)">Xóa đoạn chat<i class="bx bx-trash text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="javascript:void(0);" onclick="CloseChat()">Đóng Chat<i class=" bx bx-window-close text-muted"></i></a>
                                                </div>
                                            </div>
                                        </li>                                        
                                    </ul>                                    
                                </div>
                            </div>
                        </div>
                        <!-- end chat user head -->

                        <!-- start chat conversation -->

                        <div class="chat-conversation p-3 p-lg-4 " id="chat-conversation" data-simplebar>
                            <ul class="list-unstyled chat-conversation-list" id="users-conversation"></ul>
                        </div>
                        <div class="alert alert-warning alert-dismissible copyclipboard-alert px-4 fade show " id="copyClipBoard" role="alert">
                            message copied
                        </div>
                        <!-- end chat conversation end -->
                        </div>

                        <!-- conversation group -->
                        <div id="channel-chat" class="position-relative">
                        <div class="p-3 p-lg-4 user-chat-topbar">
                            <div class="row align-items-center">
                                <div class="col-sm-4 col-8">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 d-block d-lg-none me-3">
                                            <a href="javascript: void(0);" class="user-chat-remove font-size-18 p-1"><i class="bx bx-chevron-left align-middle"></i></a>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <div class="d-flex align-items-center">                            
                                                <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3">
                                                    <img src="assets/images/users/user-dummy-img.jpg" class="rounded-circle avatar-sm" alt="">                            
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <h6 class="text-truncate mb-0 font-size-18"><a href="#" class="user-profile-show text-reset group_name">Design Phase 2</a></h6>
                                                    <p class="text-truncate text-muted mb-0 group_typing_msg"><small class="g_member_count">24 Members</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-4">
                                    <ul class="list-inline user-chat-nav text-end mb-0">                                        
                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class='bx bx-search'></i>
                                                </button>
                                                <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg">
                                                    <div class="search-box p-2">
                                                        <input type="text" class="form-control" placeholder="Tìm kiếm.." id="searchGroupMessage" onkeyup="searchGroupMsg()">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                            <button type="button" class="btn nav-btn user-profile-show">
                                                <i class='bx bxs-info-circle'></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class='bx bx-dots-vertical-rounded' ></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none user-profile-show" href="#">Xem hồ sơ <i class="bx bx-user text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none" href="#" data-bs-toggle="modal" data-bs-target=".audiocallModal">Gọi điện <i class="bx bxs-phone-call text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center d-lg-none" href="#" data-bs-toggle="modal" data-bs-target=".videocallModal">Gọi video <i class="bx bx-video text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="javascript:void(0);" onclick="deleteAllMessage(this)">Xóa đoạn chat<i class="bx bx-trash text-muted"></i></a>
                                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="javascript:void(0);" onclick="CloseChat()">Đóng Chat<i class="bx bx-window-close text-muted"></i></a>
                                                </div>
                                            </div>
                                        </li>                                        
                                    </ul>                                    
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible topbar-bookmark fade show p-1 px-3 px-lg-4 pe-lg-5 pe-5" role="alert">
                                <div class="d-flex align-items-start bookmark-tabs">
                                    <div class="tab-list-link">
                                        <a href="#" class="tab-links" data-bs-toggle="modal" data-bs-target=".pinnedtabModal"><i class="ri-pushpin-fill align-middle me-1"></i> 10 Pinned</a>
                                    </div>
                                    <div>
                                        <a href="#" class="tab-links border-0 px-3" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="bottom" title="Add Bookmark"><i class="ri-add-fill align-middle"></i></a>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <!-- end chat user head -->

                        <!-- start chat conversation -->

                        <div class="chat-conversation p-3 p-lg-4" id="chat-conversation" data-simplebar>
                            <ul class="list-unstyled chat-conversation-list" id="channel-conversation"></ul>
                            <div class="alert alert-warning alert-dismissible copyclipboard-alert px-4 fade show " id="copyClipGroupBoard" role="alert">
                                message copied
                            </div>
                        </div>
                        <!-- end chat conversation end -->
                        </div>
                        
                        <!-- start chat input section -->
                        <audio id="recorder" muted hidden></audio>
                        <div class="chat-input-section p-3 p-lg-4"> 
                            <form id="chatinput-form" enctype="multipart/form-data">
                                <div class="row g-0 align-items-center">  
                                    <div class="file_Upload"></div>                                  
                                    <div class="col-auto">
                                        <div class="chat-input-links me-md-2">
                                            <div class="links-list-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="">
                                                <button type="button" class="btn btn-link text-decoration-none btn-lg waves-effect" data-bs-toggle="collapse" data-bs-target="#chatinputmorecollapse" aria-expanded="false" aria-controls="chatinputmorecollapse">
                                                    <i class="bx bx-dots-horizontal-rounded align-middle"></i>
                                                </button>
                                            </div>
                                            <div class="links-list-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Emoji">
                                                <button type="button" class="btn btn-link text-decoration-none btn-lg waves-effect emoji-btn" id="emoji-btn">
                                                    <i class="bx bx-smile align-middle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="position-relative">
                                            <div class="chat-input-feedback">
                                               Vui lòng nhập nội dung
                                            </div>
                                            <input type="hidden" class="form-control form-control-lg message_id">
                                            <input autocomplete="off" type="text" class="form-control form-control-lg chat-input" id="chat-input" placeholder="Nhập tin nhắn...">
                                            <input type="file" onchange="return fileValidation()" id="upload_input" class="upload_input" name="file" style="display: none;" />
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="chat-input-links ms-2 gap-md-1">
                                            <div class="links-list-item d-none d-sm-block"  data-bs-container=".chat-input-links" data-bs-toggle="popover" data-bs-html="true"  data-bs-placement="top" data-bs-content="<div class='d-flex align-items-center gap-3'><i class='bx bx-microphone align-middle'></i><div class='times'></div><div class='loader-line'><div class='line'></div><div class='line'></div><div class='line'></div><div class='line'></div><div class='line'></div></div></div>">
                                                <button type="button" class="btn btn-link text-decoration-none btn-lg waves-effect d-none" id="start">
                                                    <i class="bx bx-microphone align-middle"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-lg chat-send waves-effect waves-light" id="stop" style="display: none;">
                                                    <i class="bx bxs-send align-middle"></i>
                                                </button>
                                            </div>
                                            <div class="links-list-item">
                                                <button type="submit" id="chatFrmSubmit" class="btn btn-primary btn-lg chat-send waves-effect waves-light" data-bs-toggle="collapse" data-bs-target=".chat-input-collapse.show" >
                                                    <i class="bx bxs-send align-middle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="chat-input-collapse collapse" id="chatinputmorecollapse">
                                <div class="card mb-0">
                                    <div class="card-body py-3">
                                        <!-- Swiper -->
                                        <div class="swiper chatinput-links">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide d-none">
                                                    <div class="text-center px-2 position-relative">
                                                        <div>
                                                            <input id="attachedfile-input" onchange="return fileAttachedValidation()" type="file" class="d-none" accept=".zip,.rar,.7zip,.pdf">
                                                            <label for="attachedfile-input" class="avatar-sm mx-auto stretched-link">
                                                                <span class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                    <i class="bx bx-paperclip"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase mt-3 mb-0 text-body text-truncate">Attached</h5>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide d-none">
                                                    <div class="text-center px-2" onclick="startCamera()">
                                                        <div class="avatar-sm mx-auto">
                                                            <div class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                <i class="bx bxs-camera"></i>
                                                            </div>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body stretched-link">Camera</a></h5>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="text-center px-2 position-relative">
                                                        <div>
                                                            <input id="galleryfile-input" onchange="return imageValidation()" type="file" class="d-none" accept="image/png, image/gif, image/jpeg" >
                                                            <label for="galleryfile-input" class="avatar-sm mx-auto stretched-link">
                                                                <span class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                    <i class="bx bx-images"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0">Hình Ảnh</h5>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide d-none">
                                                    <div class="text-center px-2">
                                                        <div>
                                                            <input id="audiofile-input" onchange="return audioValidation()" type="file" class="d-none" accept="audio/*" multiple>
                                                            <label for="audiofile-input" class="avatar-sm mx-auto stretched-link">
                                                                <span class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                    <i class="bx bx-headphone"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0">Gọi điện</h5>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide d-none">
                                                    <div class="text-center px-2" onclick="currentLocation()">
                                                        <div class="avatar-sm mx-auto">
                                                            <div class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                <i class="bx bx-current-location"></i>
                                                            </div>
                                                        </div>
                                                        
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body stretched-link">Quốc gia</a></h5>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="text-center px-2">
                                                        <div class="avatar-sm mx-auto">
                                                            <div class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                <i class="bx bxs-user-circle"></i>
                                                            </div>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body stretched-link" data-bs-toggle="modal" data-bs-target=".contactModal">Danh Thiếp</a></h5>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide d-none d-sm-none">
                                                    <div class="text-center px-2">
                                                        <div class="avatar-sm mx-auto">
                                                            <div class="avatar-title font-size-18 bg-soft-primary text-primary rounded-circle">
                                                                <i class="bx bx-microphone"></i>
                                                            </div>
                                                        </div>
                                                        <h5 class="font-size-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body stretched-link">Gọi điện</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chat-input-collapse replyCollapse replyMsg collapse">
                                <div class="card mb-0">
                                    <div class="card-body py-3">
                                        <div class="replymessage-block mb-0 d-flex align-items-start">
                                            <div class="flex-grow-1">
                                                <h5 class="conversation-name">Jean Berwick</h5>
                                                <p class="mb-0">Yeah everything is fine. Our next meeting tomorrow at 10.00 AM</p>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <button type="button" class="btn btn-sm btn-link mt-n2 me-n3 font-size-18" data-bs-toggle="collapse" data-bs-target=".replyCollapse.show">
                                                    <i class="bx bx-x align-middle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end chat input section -->
                    </div>
                    <!-- end chat conversation section -->
    
                    <!-- start User profile detail sidebar -->
                    <div class="user-profile-sidebar">

                        <div class="p-3 border-bottom">
                            <div class="user-profile-img">
                                <img src="assets/images/users/avatar-2.jpg" class="profile-img rounded" alt="">
                                <div class="overlay-content rounded">
                                    <div class="user-chat-nav p-2">
                                        <div class="d-flex w-100">
                                            <div class="flex-grow-1">
                                                <button type="button" class="btn nav-btn text-white user-profile-show d-none d-lg-block">
                                                    <i class="bx bx-x"></i>
                                                </button>
                                                <button type="button" class="btn nav-btn text-white user-profile-show d-block d-lg-none">
                                                    <i class="bx bx-left-arrow-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto p-3">
                                        <h5 class="user-name mb-1 text-truncate contact_name"></h5>
                                        <p class="font-size-14 text-truncate mb-0 contact_status"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End profile user -->

                        <!-- Start user-profile-desc -->
                        <div class="p-4 user-profile-desc" data-simplebar>

                            <div class="text-center border-bottom receiver-info">
                                <div class="row">
                                    <div class="col-sm col-4">
                                        <div class="mb-4">
                                            <button type="button" class="btn avatar-sm p-0">
                                                <span class="avatar-title rounded bg-light text-body">
                                                    <i class="bx bxs-message-alt-detail"></i>
                                                </span>
                                            </button>
                                            <h5 class="font-size-11 text-uppercase text-muted mt-2">Nhắn tin</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm col-4 audio-btn">
                                        <div class="mb-4">
                                            <button type="button" class="btn avatar-sm p-0" data-bs-toggle="modal" data-bs-target=".audiocallModal">
                                                <span class="avatar-title rounded bg-light text-body">
                                                    <i class="bx bxs-phone-call"></i>
                                                </span>
                                            </button>
                                            <h5 class="font-size-11 text-uppercase text-muted mt-2">Gọi điện</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm col-4 video-btn">
                                        <div class="mb-4">
                                            <button type="button" class="btn avatar-sm p-0" data-bs-toggle="modal" data-bs-target=".videocallModal">
                                                <span class="avatar-title rounded bg-light text-body">
                                                    <i class="bx bx-video"></i>
                                                </span>
                                            </button>
                                            <h5 class="font-size-11 text-uppercase text-muted mt-2">Gọi video</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm col-4 delete-btn">
                                        <div class="mb-4">
                                            <button type="button" class="btn avatar-sm p-0" onclick="deleteAllMessage(this)">
                                                <span class="avatar-title rounded bg-light text-body">
                                                    <i class="bx bx-trash"></i>
                                                </span>
                                            </button>
                                            <h5 class="font-size-11 text-uppercase text-muted mt-2">Xóa chat</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-muted pt-4">
                                <h5 class="font-size-11 text-uppercase">Trạng thái :</h5>
                                <p class="mb-4 users_status"></p>
                            </div>

                            <div class="pb-2">
                                <h5 class="font-size-11 text-uppercase mb-2">Thông tin cá nhân :</h5>
                                <div>
                                    <div class="d-flex align-items-end">
                                        <div class="flex-grow-1">
                                            <p class="text-muted font-size-14 mb-1">Tên</p>
                                        </div>
                                        <button type="button" class="btn btn-soft-primary btn-sm contact_addbtn" data-bs-toggle="modal" data-bs-target="#addContact-exampleModal" style="display:none">
                                            Thêm vào danh bạ
                                        </button>
                                        <div class="flex-shrink-0"> 
                                            <button type="button" class="btn btn-sm btn-soft-primary" id="contact_name_edit" onclick="edit_contactName(this)">Sửa</button>
                                        </div>
                                    </div>
                                    <h5 class="font-size-14 text-truncate contact_name" id="contact_name"></h5>
                                    <div id="edit-contact-name" class="visually-hidden d-flex justify-content-between">
                                        <input type="text" name="name" id="contactname" value=""
                                          class="form-control bg-soft-light border-light" maxlength="20"/>
                                        <div class="float-right">
                                          <button type="submit" id="receiverSave" onclick="contactNameChange(this)"
                                            class="btn btn-primary btn-block waves-effect waves-light" style="display: block;">
                                            Lưu</button>
                                        </div>
                                      </div>
                                </div>    
                                                              
                                <div class="exit_group"></div>

                                <div class="receiverInfo">
                                    <div class="mt-4">
                                        <p class="text-muted font-size-14 mb-1">Email</p>
                                        <h5 class="font-size-14 userEmail"></h5>
                                    </div>

                                    <div class="mt-4">
                                        <p class="text-muted font-size-14 mb-1">Quốc gia</p>
                                        <h5 class="font-size-14 mb-0 userLocation"></h5>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">

                            <div class="group_member_sec">
                                <div>
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h5 class="font-size-11 text-muted text-uppercase">Nhóm</h5>
                                        </div>
                                    </div>
                                    
                                    <ul class="list-unstyled chat-list mx-n4 member_add">
                                        <li>
                                            <a href="javascript: void(0);" class="add_contact" id="" data-bs-toggle="modal" data-bs-target="#addgroupMember-exampleModal">
                                                <div class="d-flex align-items-center">                            
                                                    <div class="flex-shrink-0 avatar-xs me-2">
                                                        <span class="avatar-title rounded-circle bg-soft-light text-dark">
                                                            +
                                                        </span>
                                                    </div>
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-truncate mb-0">Thêm thành viên</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled group_member_list chat-list mx-n4"></ul>
                                </div>

                                <hr class="my-4">
                            </div>

                            <div class="common_group_sec">
                                <div>
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h5 class="font-size-11 text-muted text-uppercase">Chat</h5>
                                        </div>
                                    </div>
                
                                    <ul class="list-unstyled chat-list mx-n4 common_groups"></ul>
                                </div>

                                <hr class="my-4">
                            </div>

                            <div>
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <h5 class="font-size-11 text-muted text-uppercase">Media</h5>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <a href="#" onclick="showFile()" class="font-size-12 d-block mb-2">Hiển thị tất cả</a>
                                    </div>
                                </div>
                                    <div class="conversation-list">
                                        <div class="profile-media-img row media_list overflow-hidden overflow-auto" style="max-height: 82px;" ></div>
                                    </div>
                            </div>

                            <hr class="my-4">

                            <div>
                                <div>
                                    <h5 class="font-size-11 text-muted text-uppercase mb-3">File đính kèm</h5>
                                </div>
            
                                <div class="attachedFileList"></div>
                            </div>
                        </div>
                        <!-- end user-profile-desc -->
                    </div>
                    <!-- end User profile detail sidebar -->
                </div>
                <!-- end user chat content -->
            </div>
            <!-- End User chat -->

            <!-- Start Add contact Modal -->
            <div class="modal fade" id="addContact-exampleModal" tabindex="-1" role="dialog" aria-labelledby="addContact-exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content modal-header-colored shadow-lg border-0">
                        <form class="contact_form needs-validation" novalidate>
                            <div class="modal-header">
                                <h5 class="modal-title text-white font-size-16" id="addContact-exampleModalLabel">Thêm vào danh bạ</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="hide_contact_modal">
                                </button>
                            </div>
                            <div class="modal-body p-4">
                                <div class="mb-3">
                                    <label for="addcontactemail-input" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="contact_email" placeholder="Nhập email" required="">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addcontactname-input" class="form-label">Tên</label>
                                    <input type="text" class="form-control" id="c_name" placeholder="Nhập tên" required="">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Add contact Modal -->

            <!-- audiocall Modal -->
            <div class="modal fade audiocallModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content shadow-lg border-0">
                        <div class="modal-body p-0">
                            <div class="text-center p-4 pb-0">
                                <div class="avatar-xl mx-auto mb-4">
                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="img-thumbnail rounded-circle">
                                </div>
                                <h5 class="text-truncate sender_name"></h5>
                                <p class="text-muted" id="audiotext" style="display: none;">Calling...</p>

                                <div class="mt-4">
                                    <button type="button" class="btn btn-success avatar-md call-close-btn rounded-circle me-3" id="callaudiomodel">
                                        <span class="avatar-title bg-transparent font-size-24">
                                            <i class="ri-phone-fill"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-danger avatar-sm rounded-circle" id="closeaudiomodel" data-bs-dismiss="modal" hidden></button>
                                    <button type="button" class="btn btn-danger avatar-md call-close-btn rounded-circle" onclick="cutphones()" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-24">
                                            <i class="mdi mdi-phone-hangup"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="p-4 bg-soft-primary mt-n4">
                                <div class="mt-4 text-center"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- audiocall Modal -->

            <!-- incomingcall Modal -->
            <div class="modal fade" id="incomingvideo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content shadow-lg border-0">
                        <div class="modal-body p-0">
                            <div class="text-center p-4 pb-0">
                                <div class="avatar-xl mx-auto mb-4">
                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="img-thumbnail rounded-circle sender_profile">
                                </div>
                                <h5 class="text-truncate sender_name"></h5>
                                <h5 class="text-truncate" id="icvid" hidden></h5>
                                <h5 class="text-truncate" id="calltype" hidden>Gọi video</h5>
                                <p class="text-muted" id="calltypetext">Incoming Call..</p>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-success avatar-md call-close-btn rounded-circle me-3" id="receivevcall" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-24" id="callicon">
                                            <i class="ri-phone-fill"></i>
                                        </span>
                                    </button>
                                    <button type="button" id="cutincomingmodel" class="btn btn-danger avatar-sm rounded-circle" data-bs-dismiss="modal" hidden></button>
                                    <button type="button" class="btn btn-danger avatar-md call-close-btn rounded-circle" id="closeincomingmodel" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-24">
                                            <i class="mdi mdi-phone-hangup"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="p-4 bg-soft-primary mt-n4">
                                <div class="mt-4 text-center"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- end incomingcall Modal -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#incomingvideo" class="btn btn-success avatar-sm rounded-circle openincomingclass" hidden></button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#videosModal" class="btn btn-success avatar-sm rounded-circle" id="opencallvideomodel" hidden>
                <span class="avatar-title bg-transparent font-size-20">
                    <i class="ri-vidicon-fill"></i>
                </span>
            </button>
            <!-- Full screen modal -->
            <div class="modal video_model" id="videosModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button id="closevideomodel" type="button" class="btn-close" data-bs-dismiss="modal" hidden></button>
                    <!-- Modal body -->
                    <div class="modal-body p-0">
                        <div class="text-center p-4 pb-0">
                            <div class="avatar-xl mx-auto mb-4">
                                <img src="assets/images/users/avatar-2.jpg" alt="" class="img-thumbnail rounded-circle sender_profile">
                            </div>
                            <div class="mt-4 text-center">
                                <h5 class="font-size-18 mb-0 text-truncate sender_name"></h5>
                            </div>
                            <h5 class="text-truncate" id="icmname"></h5>
                            <h5 class="text-truncate" id="icvid" hidden></h5>
                            
                            <div class="jumbotron text-center">
                                <div class="timer">
                                    <span class="minutes">00</span>:
                                    <span class="seconds">00</span>
                                </div>
                            </div>

                            <div id="audio-call-div">
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <div class="avatar-md h-auto">
                                        <button type="button" class="btn btn-light avatar-sm rounded-circle" id="audio" onclick="muteAudio()">
                                            <span class="avatar-title bg-transparent text-muted font-size-20">
                                                <i class="bx bx-microphone"></i>
                                            </span>
                                        </button>
                                        <h5 class="font-size-11 text-uppercase text-muted mt-2">Mute</h5>
                                    </div>
                                </div>
                            </div>
                
                            <div id="video-call-div" style="display: none;">
                                <video muted id="local-video" autoplay></video>
                                <video id="remote-video" autoplay></video>

                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <div class="avatar-md h-auto">
                                        <button type="button" class="btn btn-light avatar-sm rounded-circle" id="audio" onclick="muteAudio()">
                                            <span class="avatar-title bg-transparent text-muted font-size-20">
                                                <i class="bx bx-microphone"></i>
                                            </span>
                                        </button>
                                        <h5 class="font-size-11 text-uppercase text-muted mt-2">Mute</h5>
                                    </div>
                                    <div class="avatar-md h-auto">
                                        <button type="button" class="btn btn-light avatar-sm rounded-circle" id="video" onclick="muteVideo()">
                                            <span class="avatar-title bg-transparent text-muted font-size-20">
                                                <i class="bx bx-camera"></i>
                                            </span>
                                        </button>
                                        <h5 class="font-size-11 text-uppercase text-muted mt-2">Camera</h5>
                                    </div>
                                    <div class="avatar-md h-auto">
                                        <button type="button" class="btn btn-light avatar-sm rounded-circle" id="screen" onclick="fullScreen()">
                                            <span class="avatar-title bg-transparent text-muted font-size-20">
                                                <i class="bx bx-fullscreen"></i>
                                            </span>
                                        </button>
                                        <h5 class="font-size-11 text-uppercase text-muted mt-2">Screen</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-n4">
                                <button type="button" class="btn btn-danger avatar-md call-close-btn rounded-circle" id="cutcall">
                                    <span class="avatar-title bg-transparent font-size-24">
                                        <i class="ri-phone-fill"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>    
                </div>
                </div>
            </div>
            <!-- end full Model -->

            <!-- videocall Modal -->
            <div class="modal fade videocallModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content shadow-lg border-0">
                        <div class="modal-body p-0">
                            <div class="text-center p-4 pb-0">
                                <div class="avatar-xl mx-auto mb-4">
                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="videocallModal-bg rounded-circle">
                                </div>
                                <h5 class="font-size-18 text-truncate mb-0"></h5>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-danger avatar-md call-close-btn rounded-circle me-3" onclick="cutphones()" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-24">
                                            <i class="mdi mdi-phone-hangup"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-success avatar-md call-close-btn rounded-circle" id="callvideomodel">
                                        <span class="avatar-title bg-transparent font-size-24">
                                            <i class="ri-vidicon-fill"></i>
                                        </span>
                                    </button>
                                    <button type="button" id="closevcmodel" class="btn btn-danger avatar-sm rounded-circle" data-bs-dismiss="modal" hidden></button>
                                </div>
                            </div>
                            <div class="p-4 bg-primary mt-n4">
                                <div class="text-white mt-4 text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->

            <!-- forward Modal -->
            <div class="modal fade forwardModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-header-colored shadow-lg border-top-0">
                        <div class="modal-header">
                            <h5 class="modal-title text-white font-size-16">Share this Message</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="hide_model1"></button>
                          </div>
                        <div class="modal-body p-4">
                            <div>
                                <div class="replymessage-block mb-2 forward_msg">
                                    <h5 class="conversation-name">Jean Berwick</h5>
                                    <p class="mb-0">Yeah everything is fine. Our next meeting tomorrow at 10.00 AM</p>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control bg-light border-0 pe-0" placeholder="Tìm kiếm .."  id="searchForwardContact" onkeyup="searchForwardContactOnModel()"
                                aria-label="Example text with button addon" aria-describedby="forwardSearchbtn-addon">
                                <button class="btn btn-light" type="button" id="forwardSearchbtn-addon"><i class='bx bx-search align-middle'></i></button>
                            </div>

                            <div class="d-flex align-items-center px-1">
                                <div class="flex-grow-1">
                                    <h4 class="mb-0 font-size-11 text-muted text-uppercase">Contacts</h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="forwardAllMsgSend(this)">Share All</button>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 150px;" class="mx-n4 px-1 ">
                                <div class="forward_contacts"></div>
                                <!-- end contact list A -->
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- forward Modal -->

            <!-- contactModal -->
            <div class="modal fade contactModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-header-colored shadow-lg border-0">
                        <form class="contactMsg_form">
                            <div class="modal-header">
                                <h5 class="modal-title text-white font-size-16">Nhắn tin</h5>
                                <button type="button" class="btn-close btn-close-white" id="contacts_model" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-4">
                                
                                <div class="input-group mb-4">
                                    <input type="text" class="form-control bg-light border-0 pe-0" placeholder="Tìm trong danh bạ.." id="searchContactModal" onkeyup="searchContactOnModal()" 
                                    aria-label="Example text with button addon" aria-describedby="contactSearchbtn-addon">
                                    <button class="btn btn-light" type="button" id="contactSearchbtn-addon"><i class='bx bx-search align-middle'></i></button>
                                </div>

                                <div class="d-flex align-items-center px-1">
                                    <div class="flex-grow-1">
                                        <h4 class=" font-size-11 text-muted text-uppercase">Người dùng</h4>
                                    </div>
                                </div>
                                <div class="contact-modal-list mx-n4 px-1" data-simplebar style="max-height: 200px;">
                                    <div class="contact_lists1"></div>
                                    <!-- end contact list A -->
                                </div>
                            </div>       
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary"><i class="bx bxs-send align-middle"></i></button>
                            </div>
                        </form>                 
                    </div>
                </div>
            </div>


           
            <!-- contactModal -->
        </div>
        <!-- end  layout wrapper -->

        <!-- JAVASCRIPT -->
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        
        <!-- glightbox js -->
        <script src="assets/libs/glightbox/js/glightbox.min.js"></script>

        <!-- Swiper JS -->
        <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

        <!-- fg-emoji-picker JS -->
        <script src="assets/libs/fg-emoji-picker/fgEmojiPicker.js"></script>

        <!-- page init -->
        <script src="assets/js/pages/index.init.js"></script>

        <script src="assets/js/app.js"></script>
        <script src="assets/js/pages/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./assets/js/pages/toastr.min.js"></script>
       
        <script src="./assets/js/auth.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

        <!-- google maps api -->
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCtSAR45TFgZjOs4nBFFZnII-6mMHLfSYI"></script>

        <!-- Gmaps file -->
        <script src="assets/libs/gmaps/gmaps.min.js"></script>

        <script src="./assets/js/contact.js"></script>

    </body>
</html>
